body{
    background-color: #fafafa;
    padding: 10px;
    display: grid;
    padding-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    row-gap: 20px;
}
@media (min-width:451px) {
    body{
        grid-template-rows: 2;
        background-color: white;
    }
    .main{
        grid-row-start: 1;
        grid-column: 1/3 ;
        width: 800px;
        margin: 0px auto;
        padding-top: 10px;
        display: flex;
    }
    #phone{
        width: 50%;
    }
    .box{
        width: 45%;
        margin-top: 10px
    }
    .box-1{
        border: solid 2px #f0f0f0;
        text-align: center;
        background-color: white;
        padding-bottom: 20px;
    }
    
    #logo{
        width: 220px;
        margin-top: 20px;
    }
    .data{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .user{  
        width: 70%;
        height: 30px !important;
        border-radius: 3px;
        border: 1px solid rgba(179, 176, 176,0.5);
        padding: 5px;
        margin-top: 7px;
        background-color: #fafafa;
        outline:rgba(179, 176, 176,1);
    }
    #key{
        background-color: lightskyblue;
        width: 74%;
        height: 30px;
        font-weight: bold;
        border: solid 1px transparent;
        border-radius: 5px;
        color: white;
    }
    .box-1__p {
        font-size: 12px;
        color: grey;
        font-weight: bold;
    }
    
    #log{
        text-decoration: none;
        color:rgba(0, 0, 80, 0.7);
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 20px;
    }
    #forgot{
        text-decoration: none;
        font-size:12px;
        color:black;
        
    }
    .box-2{
        border: solid 2px #f0f0f0;
        text-align: center;
        background-color: white;
        padding-bottom: 15px;
    }
    box-2__p{
        font-size: 16px;
        
    }
    
    #sign{
        text-decoration: none;
        font-size: 15px;
        color: navy;
        font-weight: bold;
    }
    .app{
        text-align: center;
    }
    .footer{
        grid-row-start: 2;
        grid-column: 2/3 ;
        width: 800px;
        font-size: 16px;
        text-align: center;
    }
    .footer__link{
        text-decoration: none;
        color:gray;
        font-size: 12px;
        padding: 5px;
    }
}
    
    @media (max-width:450px) {
    body{
        background-color: white;
        text-align: center;
        width: 100%;
        height: 90vh;
    }
    .main{
        grid-area: 1/1/2/1;
        width: 400px;
        padding-top: 10px;
    }
    #phone{
        width: 0px;
        height: 0px;
    }
    .footer__link{
        text-decoration:none; 
        color:grey;
        font-size:12px; 
        padding: 5px;;
    }
    .box{
        grid-column: 2/6 ;
        width: 100%;
        margin-top:0px;
    }
    .box-1{
        border: none;
        text-align: center;
        background-color: white;
        padding-bottom: 20px;
        padding: 20px;
    }
    
    .logo{
        width: 240px;
        margin-top: 20px;
    }
    .data{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .user{  
        width: 70%;
        height: 30px !important;
        border-radius: 3px;
        border: 1px solid rgba(179, 176, 176,0.5);
        padding: 5px;
        margin-top: 7px;
        background-color: #fafafa;
        outline:rgba(179, 176, 176,1);
    }
    #key{
        background-color: lightskyblue;
        width: 74%;
        height: 30px;
        font-weight: bold;
        border: solid 1px transparent;
        border-radius: 5px;
        color: white;
        }
    .box-1__p {
        font-size: 12px;
        color: grey;
        font-weight: bold;
    }
    
    #log{
        text-decoration: none;
        color:rgba(0, 0, 80, 0.7);
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 20px;
    }
    #forgot{
        text-decoration: none;
        font-size:12px;
        color:black;
        
    }
    .box-2{
        border: none;
        text-align: center;
        background-color: white;
        padding-bottom: 15px;
    }
    box-2__p{
        font-size: 16px;
    
    }
    
    #sign{
        text-decoration: none;
        font-size: 15px;
        color: navy;
        font-weight: bold;
    }
    .app{
        text-align: center;
    }
    .footer{
        width: 400px;
        font-size: 16px;
        text-align: center;
    }
}
